.Project {
  position: relative;
  overflow: hidden;

  white-space: normal;

  display: inline-block;
  width: 9em;
  height: 6em;
  margin: .5em 1em .5em 0;

  border-radius: .25em;

  background: currentColor no-repeat center;
  background-size: cover;
}

.Project-meta {
  position: absolute;
  left: 0;
  right: 0; bottom: 0;

  padding: .5em;

  background-color: rgba(255, 255, 255, .8);
}

.Project.no-image .Project-meta {
  top: 0;
}

.Project-title {
  margin: 0;

  color: #000;
}

.Project-description {
  margin: 0;

  font-size: smaller;
  color: #666;
}

.Project-title + .Project-description {
  margin-top: 1em;
}
