.Project {
  position: relative;
  overflow: hidden;

  display: inline-block;
  width: 9em;
  height: 6em;
  margin: .5em 1em .5em 0;

  border-radius: .25em;

  background: currentColor no-repeat center;
  background-size: cover;
}

.Project-title {
  position: absolute;
  left: 0;
  right: 0; bottom: 0;

  padding: .5em;
  margin: 0;

  color: #000;
  background-color: rgba(255, 255, 255, .8);
}

.Project.no-image {
  width: auto;
  height: 2em;
}

.Project.no-image .Project-title {
  position: relative;
}
