.Entry {
  padding: .25em 0;
}

.Entry.has-image .Entry-description,
.Entry.has-image .Entry-projects {
  padding-left: 4em;
}

.Entry h3 { font-size: 1em; margin: .5em 0 .25em; }
.Entry .tagline { margin-top: 0; opacity: 1; }

.Entry-description { line-height: 1.2; margin-bottom: .5em; }

.Entry .period {
  float: right;
  font-size: .75em;
  margin-top: 1em;

  opacity: .7;
}
