.Introduction {
  padding: 1em 1em 1.5em;
}

.Introduction-avatar {
  height: 7em;
  padding: 6px;
  margin: .7em 1em 1em 0;
  float: left;

  background-color: currentColor;
}

.Introduction-avatar,
.Introduction-avatar img {
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.Introduction h1 {
  font-size: 1.8em;
  margin: .5em 0;
}

.Contact-social {
  display: block;
  padding-left: 1.5em;
  margin-bottom: .5em;
  margin-left: 8em;

  background: no-repeat left 0 top 50%;
  background-size: 1em;
}

.Contact-social.email { background-image: url('../../media/icons/email.svg'); }
.Contact-social.telephone { background-image: url('../../media/icons/phone.svg'); }
.Contact-social.website { background-image: url('../../media/icons/web.svg'); }
.Contact-social.linkedin { background-image: url('../../media/icons/linkedin.svg'); }
