.App {
  padding: 1em 0;
  font-size: 2.5vw;
}

.tagline {
  margin-top: -1em;
}

@media all and (min-width: 721px) {
  .App {
    padding: 4em;
  }
}

@media all and (min-width: 1081px) {
  .App {
    font-size: 27px;
  }
}
