.App {
  overflow: hidden;

  counter-reset: section;

  width: 210mm;
  height: 297mm;

  font-size: 4mm;
  background-color: #fff;
}

.two-col {
  width: 50%;
  float: left;
}

section {
  position: relative;
  padding: 1em;

  outline: 3px solid;
}

@media screen {
  .App {
    margin: 2em auto;
    box-shadow: 0 .2em .5em rgba(0, 0, 0, .8);
  }
}
