body {
	font-family: 'Avenir', sans-serif;
	font-weight: 400;

	color: #000;
	background-color: #323232;
}

h1, h2, h3, strong {
  font-weight: 900;
}

h4, h5, h6 {
	font-weight: 600;
	opacity: .75;
}

a {
	color: inherit;
	text-decoration: none;
}

p, ul {
	opacity: .75;
}

ul {
	padding-left: 4em;
	margin: .5em 0;
}
